/* Fonts for texts */

@font-face {
  font-family:'IranNastaliq';
  src: url('/static/fonts/IranNastaliq.ttf') format('truetype');
}

@font-face {
  font-family:'Shabnam';
  src: url('/static/fonts/SHABNAM-MEDIUM.TTF') format('truetype');
}