/* Style for Index.html */
@import url('/assets/style/base.css');
@import url('/assets/fonts/fonts.css');

/* Header Option */
header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  background-color: rgba(166, 174, 191,0.9);
  padding: var(--S_padding) var(--L_padding);
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid var(--primary);
  transition: all 0.3s ease-in-out;
  z-index: 1;
}header:hover{
  background-color: var(--secondary);

}

/* Left side of the Header */
.header_left button{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  font-family: 'Shabnam';
  padding: var(--S_padding);
  text-align: center;
  border-radius: var(--T);
  font-size: var(--M);
  transition: all 0.2s ease-in-out;
  outline: none;
}.header_left button:hover{
  cursor: pointer;
  font-weight: bold;
  color: var(--primary);
  border: 3px solid var(--primary);
  box-shadow: inset 0px 0px 10px var(--shadow);
}

.header_left span{
  margin-left: 5px;  
  font-size: var(--L);
}
/* end of Left side of the Header */

/* Middle side of the Header */
.header_middle{
  display: flex;
  justify-content: space-between;
  width: var(--Half);
}

.header_middle a{
  text-decoration: none;
  color: var(--gray);
  font-size: var(--M);
  transition: all 0.2s ease-in-out;
}.header_middle a:hover{
  color: var(--primary);
  font-size: var(--L);
  font-weight: bold;
}
/* end of Middle side of the Header */

/* Right side of the Header */  
.header_right{
  width: 100px;
}
.header_right img{
  width: 45px;
}
/* end of Right side of the Header */  
/* end of Header Option */



/* Main Option */
/* First Section Option */
.parent{
  width: 100%;
  height: var(--FullHeight);
}
.background{
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/index/uni_background.webp");
  background-repeat:round;
  background-size: cover;
  filter: blur(4px);
  z-index: -1;
}
.background_filter{
  position: absolute;
  background-color: black;
  opacity: var(--Half);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bio{
  position: absolute;
  top: 25px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  filter: none;
  width: var(--SeventyFive);
  height: var(--SeventyFive);
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.bio img{
  width: 100px;
}

.bio_text{
  text-align: center;
}

.bio_text h1{
  text-align: center;
  padding-right: var(--L_padding);
  color: white;
  text-shadow: 1px 1px 3px var(--primary);
  font-family: 'IranNastaliq';
  font-size: var(--Header);
}

.bio_text p{
  color: white;
  font-size: var(--L);
  font-weight: bold;
  font-family: 'Shabnam';
}

.bio_link{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: var(--SeventyFive);
  margin: var(--M_padding) auto 0 auto;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  width: 100px;
  height: 150px;
  background-color: var(--secondary);
  border-radius: 15px 0px;
  padding: var(--S_padding);
  color: var(--gray);
  text-decoration: none;
}.card:hover{
  cursor: pointer;
  box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.6);
  font-weight: bold;
  color: rgb(242, 242, 242);
}

.card i{
  font-size: 80px;
}
.card h5{
  font-family: 'Shabnam';
}

/* end of First Section Option */
/* end of Main Option */


/* Footer Option */
footer{
  display: flex;
  background-color: var(--secondary);
  direction: rtl;
  justify-content: space-evenly;
  padding: var(--M_padding) var(--L_padding);
}

/* footer Text Side option */
.footer_bio{
  width: var(--Quarter);
}

.footer_info{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--primary);
  margin-bottom: var(--M_padding);
}

.footer_info i{
  font-size: 30px;
  width: 50px;
}
.footer_text{
  margin-right: var(--M_padding);
}
.footer_text p{
  color: white;
}
.footer_text h5{
  font-weight: normal;
}
/* end of footer Text Side option */

/* Footer Logo Side option */
footer .logo{
  text-align: center;
  position: relative;
}
footer .logo img{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100px;
}
/* end of Footer Logo Side option */
/* end of Footer Option */
