/* Style for *.html */
*{
  padding: 0;
  margin: 0;
  font-family: 'Shabnam','IranNastaliq';
}

.container{
  box-shadow: inset 0px 15px 20px -10px var(--shadow), inset 0px -15px 20px -10px var(--shadow); 
  background-color: var(--white);
}

/* texts that notif user */
.notif{
  direction: rtl;
  border-radius: 8px;
  box-shadow: 0px 0px 10px var(--shadow);
  padding: var(--M_padding);
  margin: var(--S_padding) 0;
}.second .notif{
  cursor: default;
}
.notif_icon{
  color: var(--primary);
  font-size: 15px;
  margin-left: var(--S);
}
/* end of texts that notif user */


/* Header Option */
header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  background-color: rgba(166, 174, 191,0.9);
  padding: var(--S_padding) var(--L_padding);
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid var(--primary);
  transition: all 0.3s ease-in-out;
  z-index: 9;
}header:hover{
  background-color: var(--secondary);
}

/* Left side of the Header */
.header_left button{
  display: flex;
  flex-direction: row;
  text-align: center;
  font-family: 'Shabnam';
  padding: var(--S_padding);
  text-align: center;
  border-radius: var(--T);
  font-size: var(--M);
  transition: all 0.2s ease-in-out;
  outline: none;
}.header_left button:hover{
  cursor: pointer;
  font-weight: bold;
  color: var(--primary);
  border: 3px solid var(--primary);
  box-shadow: inset 0px 0px 10px var(--shadow);
}

.header_left span{
  margin-left: 5px;  
  font-size: var(--L);
}
/* end of Left side of the Header */

/* Middle side of the Header */
.header_middle{
  display: flex;
  justify-content: space-between;
  width: var(--Half);
}

.header_middle a{
  text-decoration: none;
  color: var(--gray);
  font-size: var(--M);
  transition: all 0.2s ease-in-out;
}.header_middle a:hover{
  color: var(--primary);
  font-size: var(--L);
  font-weight: bold;
}
/* end of Middle side of the Header */

/* Right side of the Header */  
.header_right{
  width: 100px;
}
.header_right img{
  width: 45px;
}
/* end of Right side of the Header */  
/* end of Header Option */

/* Footer Option */
footer{
  display: flex;
  background-color: var(--secondary);
  direction: rtl;
  justify-content: space-evenly;
  padding: var(--M_padding) var(--L_padding);
}

/* footer Text Side option */
.footer_bio{
  width: var(--Quarter);
}

.footer_info{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--primary);
  margin-bottom: var(--M_padding);
}

.footer_info i{
  font-size: 30px;
  width: 50px;
}
.footer_text{
  margin-right: var(--M_padding);
}
.footer_text p{
  color: white;
}
.footer_text h5{
  font-weight: normal;
}
/* end of footer Text Side option */

/* Footer Logo Side option */
footer{
  position: relative;
}
footer .logo{
  text-align: center;
  position: relative;
}
footer .logo img{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100px;
}
footer .copyright{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--white);
  text-align: center;
  padding: var(--S_padding);
  font-size: var(--S);
}
/* end of Footer Logo Side option */
/* end of Footer Option */

/* we give these parameters to *.css */
:root{
  /* color */
  --primary:#2f3bbc;
  --secondary:#A6AEBF;
  --gray:#3C3D37;
  --white :#F4F9F9;
  --shadow:#0000004d;

  /* size */
  --T:5px;
  --S:10.5px;
  --M:14px;
  --L:18px;
  --XL:24px;
  --XXL:28px;
  --XXXL:32px;
  --Header:72px;
  --FullWidth:100vw;
  --FullHeight:100vh;


  /* boxing */
  --T_padding:4px;
  --S_padding:8px;
  --M_padding:18px;
  --L_padding:25px;

  /* size persentage */
  --Quarter:25%;
  --Half:50%;
  --SeventyFive:75%;
}